@import "tailwindcss";

body {
  cursor: none;
}

@keyframes rise {
  0% {
    transform: translateY(0) scale(0.8);
    opacity: 0;
  }

  20% {
    opacity: 0.3;
  }

  100% {
    transform: translateY(-260px) scale(1.6);
    opacity: 0;
  }
}

.animate-rise {
  animation: rise linear infinite;
}


@keyframes fireFade {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.2);
  }
}